/*  CSS for Site */

* {
    box-sizing: border-box;
  }

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  font-family: 'Tenor Sans', sans-serif;
  font-size: 24px;
}

body > .container {
  padding: 60px 15px 0;
}

nav {
  font-size: 24px;
}

h1 {
  font-family: 'Fredericka the Great', cursive;
}

#contact  {
  font-family: 'Fredericka the Great', cursive;
  font-size: 26px;
}


#roles {
  font-size: 20px;
}

.lead {
  font-size: 24px;
  text-shadow: 1px 1px darkslategrey;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  font-size: 20px;
    text-shadow: 1px 1px darkslategrey;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

#devModal, #pmModal, #techModal {
  font-size: 20px;
}